:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --background-color: #ffffff;
  --background-color-hero-footer: #2f303a;
  --background-color-second: #f5f5f5;
  --team-background-color: #f5f4fa;
  --main-sprite-color: #afb1b8;
  --portfolio-border: #eeeeee;
}
body {
  font-family: Roboto, sans-serif;
  color: var(--title-text-color);
  background-color: var(--background-color);
  letter-spacing: 0.03em;
  font-size: 14px;
}
/* reset */
html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
/* Cтилі для обнулення верхніх відступів у елементів */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* Клас для онулення базових властивостей (ul) */
ul,
ol {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

/* Класс для онулення базовых властивостей у силці(а) */
a {
  text-decoration: none;
  color: inherit;
}

/* Властивості для коректного відображення картинок */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Властивості для онуленя у крсива у адрес */

address {
  font-style: normal;
}
/* Container */
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
/* Кнопка   */
span {
  color: var(--accent-color);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* Властивості для класу Section */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* Dластивості для класу Footer */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--background-color-hero-footer);
}

/* ------------HEADER--------------- */

.header-list {
  display: flex;
}
.header-list:first-child {
  padding-right: 0;
}

.header-list list {
  margin-right: 50px;
}

/* --------------logo----------------- */
.header {
  background: var(--background-color);
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.header-logo-text {
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
  color: var(--title-text-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.header-logo:hover {
  color: var(--accent-color);
}
/*----------------Site nav--------------  */

.menu-nav {
  color: var(--title-text-color);
}

.menu-nav,
.header-list {
  display: flex;
  align-items: center;
}
.header-list {
  display: flex;
  gap: 50px;
}

.header-link {
  position: relative;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-list,
.header-link:hover,
.header-list,
.header-link:focus {
  color: var(--accent-color);
}

.header-link.current::after {
  display: block;
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
  transform: translateY(32px);
  color: var(--accent-color);
  line-height: 1.14;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.current {
  color: var(--accent-color);
}

.header-list,
.header-link.current:hover,
.header-list,
.header-link.current:focus {
  color: var(--accent-color);
}

/* --------Contact------------ */
.contact-container {
  display: flex;
}

.contacts-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  gap: 50px;
}

.сontact-link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-list,
.сontact-link:hover,
.contacts-list,
.сontact-link:focus {
  color: var(--accent-color);
}

.contacts-icon {
  margin-right: 10px;
  fill: currentColor;
}

/* -----------------HERO------------- */
.hero {
  background-color: var(--background-color-hero-footer);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/bg-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scaleY(0);
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 300ms linear, visibility 300ms linear;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 581px;
  width: 528px;
  padding: 40px;
  background-color: var(--background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) scaleY(1);
  transition: transform 300ms linear;
}
.btn-close-modal {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--background-color);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  cursor: pointer;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
  max-width: 696px;
  margin-bottom: 30px;
  margin: 0 auto;
}

.hero-btn {
  background: var(--accent-color);
  color: var(--white-color);
  width: 216px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn.button {
  font-family: inherit;
  font-weight: 700;
  display: inline-block;
  margin: 30px auto 0 auto;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}

.hero-btn.button:hover {
  color: var(--title-text-color);
  background-color: var(--accent-color);
}

.hero-btn.button:focus {
  color: var(--title-text-color);
}
/* ---------------Modal form in Hero section------------- */
textarea {
  resize: none;
}

.form-title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  justify-content: center;
}

.form-field {
  display: flex;
  position: relative;
  flex-direction: column;
  text-align: start;
  margin-bottom: 10px;
}

.form-label {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.form-input {
  width: 100%;
  padding: 11px;
  padding-left: 42px;
  font: inherit;
  outline: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus,
.form-area:focus {
  border: 1px solid #2196f3;
}

.form-input:focus ~ .icon-form {
  fill: #2196f3;
}

.icon-form {
  position: absolute;
  top: calc(50% + 7px);
  left: 15px;
  transform: translateY(-50%);
}

.form-comment {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: start;
  margin-bottom: 20px;
}

.commentar {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--title-text-color);
}

.form-area {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 12px 16px;
  height: 120px;
  outline: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  cursor: pointer;
}

.form-area::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.label-check {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.input-checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.icon-checkbox {
  display: inline-block;
  margin-right: 7px;
  width: 16px;
  height: 15px;
  border-radius: 2px;
  border: 2px solid #212121;
  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.policy {
  margin-left: 5px;
  color: var(--accent-color);
  text-decoration: underline;
}

.input-checkbox:checked + .icon-checkbox {
  border-color: #2196f3;
  background-color: #2196f3;
  background-image: url(../images/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
}

.form-btn {
  display: block;
  align-items: center;
  justify-content: center;
  min-width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--accent-color);
  border: none;
  border-radius: 4px;
  margin: 0 auto;
  margin-top: 30px;
  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.form-btn:hover {
  color: var(--title-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* -----------------Our Advantage------------- */

.about-list {
  display: flex;
  flex-wrap: wrap;
}

.about-item {
  width: 270px;
  margin-right: 30px;
}
.about-item:last-child {
  margin-right: 0;
}

.about-visual {
  display: flex;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  background-color: var(--team-background-color);
}
.about-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--team-background-color);
}

.about-title {
  margin-top: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.about-text {
  margin-top: 10px;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--primary-text-color);
}

/* ----------------Our Work----------------- */

.work {
  padding-top: 0;
}

.section-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.work-list {
  display: flex;
}

.work-item {
  margin-right: 30px;
}
.work-item:nth-child(3n) {
  margin-right: 0;
}
.work-container {
  position: relative;
}

.label {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  align-items: center;
  justify-content: center;
}
.label-text {
  color: var(--white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  text-transform: uppercase;
}

/* ---------------------Our Team---------------------- */
.team {
  background-color: var(--background-color-second);
}

.section-title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.team-list {
  display: flex;
}

.team-item {
  margin-right: 30px;
  background-color: var(--background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-item:nth-child(4n) {
  margin-right: 0;
}

.team-social-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--background-color);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--main-sprite-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 16px;
}

.team-social-link:hover,
.team-social-link:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
}

.team-social-icon {
  fill: currentColor;
}

.members {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

/* -----------Our regular clients------------------- */
.clients-section {
  background-color: var(--background-color);
}

.clients-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.clients-item {
  background-color: var(--background-color);
}

.clients-link {
  border: 1px solid var(--main-sprite-color);
  border-radius: 4px;
  width: 170px;
  height: 92px;
  background-color: var(--header-main-color);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--main-sprite-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover,
.clients-link:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}
.clients-icon {
  fill: currentColor;
}
/* -------------Footer--------------- */
.footer-logo {
  display: flex;
  align-items: baseline;
}
.logo-footer {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}
.logo-footer-part {
  color: var(--white-color);
}
.address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white-color);
}
.contact-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-address {
  margin-top: 20px;
}
.footer-mail,
.footer-tel {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-mail:hover,
.footer-tel:hover,
.footer-mail:focus,
.footer-tel:focus {
  color: var(--accent-color);
}
/* ------------- Footer Sign up--------------- */
.footer-social {
  margin-left: 70px;
}
.footer-social-title {
  display: block;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.14;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: var(--white-color);
}
.flex-block {
  display: flex;
  align-items: baseline;
}
.footer-social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
  height: 100%;
}

.footer-social-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
}

.footer-social-icon {
  fill: currentColor;
}

/* ----------Subscribe---------------- */
.subs-mail-form {
  display: block;
  margin-left: auto;
}

.subs-tittle {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 20px;
}
.subs-form {
  display: flex;
  align-items: center;
}

.subs-form-field input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subs-form-field input {
  margin-right: 12px;
  width: 358px;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: var(--background-color-hero-footer);
  color: var(--white-color);
}

.subs-mail-btn {
  position: relative;
  border: none;
  padding: 10px 62px 10px 28px;
  border-radius: 4px;
  min-width: 200px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--white-color);
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subs-mail-btn:hover {
  color: var(--title-text-color);
  background-color: var(--accent-color);
}

.subs-mail-btn:focus {
  color: var(--title-text-color);
}

.send-icon {
  position: absolute;
  top: 13px;
  right: 28px;
  fill: currentColor;
}

/* -------------------Our Portfolio Work--------------------- */

/*----------Portfolio Main1--------------- */
.filter-btns-list.list {
  background-color: var(--background-color);
}

.filter-btn.button.active {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  cursor: pointer;
  background-color: var(--accent-color);
  color: var(--white-color);
  letter-spacing: 0.03em;
}

.filter-btn.button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  cursor: pointer;
  letter-spacing: 0.03em;
}
.filter-btns-list,
.filter-btn.button:hover,
.filter-btns-list,
.filter-btn.button:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
}

/* Portfolio Main2 */

.filter-btns-list {
  display: flex;
  justify-content: center;
  margin: 0 0 50px 0;
  gap: 8px;
}

.filter-btn {
  padding: 6px 22px;
  background-color: #f5f4fa;
  border-radius: 4px;
  border: solid transparent;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-btn:hover {
  color: var(--white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.filter-btn:focus {
  color: var(--white-color);
}

/* ------------Project List---------------- */
.project-list {
  display: flex;
  flex-wrap: wrap;
}

.project-item {
  margin-right: 30px;
  margin-bottom: 30px;
  background-color: var(--white-color);
}

.project-item:nth-child(3n) {
  margin-right: 0;
}

.project-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.project-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project-thumb {
  position: relative;
  overflow: hidden;
}

.project-meta {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: var(--white-color);
  background-color: rgba(33, 150, 243, 0.9);
  height: 100%;
  padding: 63px 24px;
  transform: translateY(100%);
  transition: transform 300ms linear;
  /* overflow: auto; коли тексту багато додає скрол*/
}
.project-item:hover .project-meta {
  transform: translateY(0);
}

.project-link:hover,
.project-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

/* -----Work-projects------- */
.work-projects {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.project-name {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}
.projects-text {
  font-size: 16px;
  line-height: 1.88;
  color: var(--primary-text-color);
}
